@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply transition-all py-2 px-6 text-base rounded;
  }

  .btn-icon {
    @apply flex flex-row items-center gap-4 transition-all p-2 text-white text-base rounded border-2;
  }

  .btn-next-state {
    @apply border-indigo-400 bg-indigo-400 hover:bg-indigo-900 hover:border-indigo-900;
  }

  .btn-complete-submission {
    @apply border-green-400 bg-green-400 hover:bg-green-600 hover:border-green-600;
  }

  .btn-primary {
    @apply text-white border-blue-400 border-2 bg-blue-400 hover:bg-blue-900 hover:border-blue-900;
  }

  .btn-secondary {
    @apply text-blue-400 border-blue-400 border-2 bg-white hover:bg-blue-400 hover:border-blue-400 hover:text-white;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
